<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.shop.portal.dao.BookMapper" >
    <!-- 通过pid（大类）查询书籍信息 -->
    <select id="findBookByPid" parameterType="com.qf.shop.portal.pojo.Book" resultType="com.qf.shop.portal.pojo.Book">
        SELECT * FROM t_book WHERE pid=#{pid}
    </select>

    <!-- 查询类目 -->
    <select id="findCategory" parameterType="com.qf.shop.portal.pojo.Book" resultType="com.qf.shop.portal.pojo.Category">
        SELECT * FROM t_category WHERE pid=#{pid}
    </select>
    <select id="findOneCategory" parameterType="com.qf.shop.portal.pojo.Book" resultType="com.qf.shop.portal.pojo.Category">
        SELECT DISTINCT(cat.pname) FROM t_category cat WHERE pid=#{pid}
    </select>

    <!--查询二级类目下的图书-->
    <select id="findBookByCid" parameterType="com.qf.shop.portal.pojo.Book" resultType="com.qf.shop.portal.pojo.Book">
        SELECT * FROM t_book  WHERE cid=#{cid}
    </select>

    <!--通过Bid查询商品（用于商品详情页）-->
    <!--查询二级类目下的图书-->
    <select id="findBookByBid" parameterType="com.qf.shop.portal.pojo.Book" resultType="com.qf.shop.portal.pojo.Book">
        SELECT * FROM t_book  WHERE bid=#{bid}
    </select>
</mapper>