<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.shop.portal.dao.UserMapper" >
    <!-- 用户登陆-->
    <select id="findUserByNameAndPass" parameterType="com.qf.shop.portal.pojo.User" resultType="com.qf.shop.portal.pojo.User">
        SELECT * FROM t_user WHERE username=#{username} AND password=#{password}
    </select>
    <!-- 用户注册-->
    <insert id="saveUser" parameterType="com.qf.shop.portal.pojo.User" >
       INSERT INTO t_user(username,password,email) VALUES (#{username},#{password},#{email})
    </insert>
    <!--提交个人信息 ,gender=#{gender}-->
    <update id="updateUser" parameterType="com.qf.shop.portal.pojo.User" >
        UPDATE t_user set email=#{email},realName=#{realName},mobile=#{mobile},address=#{address} WHERE username=#{username}
    </update>

</mapper>